{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
    <div class="col-md-offset-3">
        <form method="POST" class="post-form" action="">{% csrf_token %}
            {{ form.name.errors }}
            {{ form.non_field_errors }}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-primary">Отправить</button>
            <button class="btn btn-primary" onclick="goBack()">Назад</button>
        </form>
    </div>
    <script>
    function goBack() {
        if (window.history.length > 1) {
            window.history.back();
        } else {
            window.location.href = "http://pb.somee.com";
        }
    }
</script>
{% endblock %}