{% load staticfiles %}
<html>
<head>
    <title>PowerBank</title>
    <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="icon" href="http://pb.somee.com/Content/img/powerbanklogo.png"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="http://pb.somee.com/bundles/css?v=7ds97Lk78dWZJBImCvK4k4KmIPVQzXOuatnpILk9lNE1" rel="stylesheet"/>
    <link href="http://pb.somee.com/bundles/jqueryui?v=3WW4MTDwTkgq_ExSgdo7PVa5U7z5rDGnqQJrZn_NMLA1" rel="stylesheet"/>
    <script src="http://pb.somee.com/bundles/jquery?v=tMfB7ah2V6IrL1o4rmz5J5Ed0KyxM8I-Xgo3nDNnN_Y1"></script>
</head>
<body>
<header>
    <div class="navbar navbar-inverse navbar-fixed-top" id="navBar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <i class="material-icons">account_balance</i>
                    Power Bank
                </div>
            </div>
        </div>
    </div>
</header>

<section class="container body-content">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Информация о кредите</h2></div>
                <div class="panel-body">
                    <div class="col-md-offset-1 col-md-9">
                        {% for field, value in data %}
                            <div class="form-group">
                                <label class="control-label">{{ field }}</label>
                                <input style="max-width: 700px;" readonly="readonly" class="form-control"
                                       value="{{ value }}"/>
                            </div>
                        {% endfor %}
                        <button class="btn btn-primary" onclick="goBack()">Назад</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="http://pb.somee.com/bundles/bootstrap?v=gZ_JrrRcQZO8-Z6rM3X_uNyaPB2KzuX7Wbe6fdEQcvE1"></script>
<script src="http://pb.somee.com/Scripts/Scripts.js"></script>
<script>
    function goBack() {
        if (window.history.length > 1) {
            window.history.back();
        } else {
            window.location.href = "http://pb.somee.com";
        }
    }
</script>
</body>
</html>